/* General Styles */
body {
    background-image: url('bins.jpg'); /* Add your background image URL */
    background-size: cover;
    background-position: center;
  }
  
  .jumbotron {
    height: 90px;  /* Set height to 20px */
    padding: 0;
    background-color: green;    /* Remove any padding */
  }
  
  .jumbotron .container {
    height: 100%;  /* Ensure container takes the full height */
    display: flex;
    justify-content: center;
    align-items: center;  /* Center content vertically */
    text-align: center;  /* Center content horizontally */
  }
  
  .jumbotron .display-4, .jumbotron .lead {
    font-size: 20px;
    color: white;  /* Make the text small so it fits in 20px */
  }
  
  
  /* Text */
  .lead, h4 {
    color: white;
  }
  
  /* Container */
 
  
  /* Video Section */
  .video-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  /* Video Embed */
  iframe {
    width: 500px;
    height: 300px;
  }
  
  /* Upload Section */
  .upload-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .upload-section img {
    margin-bottom: 20px;
  }
  
  .upload-section input[type="file"] {
    margin-bottom: 10px;
  }
  
  .upload-section input[type="submit"] {
    width: 200px;
  }
  
  /* Results Section */
  .results-section {
    background-color: green;
    padding: 30px;
    color: white;
    border-radius: 15px;
    font-family: sans-serif;
    margin-top: 30px;
  }
  
  /* Educational Tips */
  .educational-tips {
    margin-top: 40px;
  }
  
  .icon-img {
    width: 70px; /* Adjust icon size */
    margin-bottom: 15px;
  }
  
  .educational-tips .row {
    text-align: center;
  }
  


  #drag-drop-area {
    width: 100%;
    height: 150px;
    border: 2px dashed #ccc;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 15px;
    transition: border 0.3s ease;
  }
  
  #drag-drop-area:hover {
    border: 2px dashed #008CBA;
  }
  
  #drag-drop-area p {
    font-size: 16px;
    color: #888;
  }
  
  #drag-drop-area img {
    width: 100%;
    max-width: 200px;
    margin-top: 15px;
  }
  